<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yapp.android1.delibuddy">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".DeliBuddyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_delibuddy"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_delibuddy_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliBuddy">
        <activity
            android:name=".ui.createparty.CreatePartyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.partyInformation.PartyInformationActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data android:host="kakaolink"
                    android:scheme="kakao3bf4dfe97052c36d665dafac21a80d36" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.permission.PermissionDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".util.permission.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAP_APIKEY_ID}" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao3bf4dfe97052c36d665dafac21a80d36" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.terms.TermsActivity"
            android:exported="true" />

        <service
            android:name=".service.DelibuddyFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>